<!DOCTYPE html>
<html>
    <head>
        <title>Order food</title>
        <link rel="stylesheet" type="text/css" href="css\food.css">
        <script src="FoodOrder\Foodorder.js"></script>
    
        <meta charset="utf-8">
        <style type="text/css">
            @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
            
        </style>
    </head>

    <body>
        <!--Navigation bar-->
        <div class="menu-bar">
            <ul>
                <li class="active"><a href="backend\public\css\food.css">
                    <img class="img-lo" src="img\logo.png" width="90" height="10"></a></li>
               
                <li><a href="#">FOOD</a></li>
                
                <li><a href="#">ROOM</a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#contact">Booking</a></li>
                            <li><a href="#">service</a></li>
                            
                        </ul>
                    </div>
                </li>

                <li><a href="#">VEHICLE</a></li>

                <li><a href="#">MORE</a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="profile">
                <li class="profile-li"><a href="#"><img class="img-lo" src="img\PicsArt_11-08-06.09.26.png"  width="30" height="30"></a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="#contact">Profile</a></li>
                            <li><a href="ForgetPassword\NewPass.html">Change Password</a></li>
                            <li><a href="HomePage\WebPage.html">Logout</a></li>
                        </ul>
                    </div>   
                </li>                     
                
            </ul>
        </div>


        <!--Hor Tab-->
        <div class="body">
            <button class="tablink" onclick="openPage('Home', this, 'blue')" id="defaultOpen">INDIAN</button>
            <button class="tablink" onclick="openPage('News', this, 'red')">CHINESE</button>
            <button class="tablink" onclick="openPage('Contact', this, 'green')">ITALIAN</button>
            <button class="tablink" onclick="openPage('About', this, 'orange')">MEXICAN</button>
            
            <div id="Home" class="tabcontent">
                <h3>INDIAN</h3>
                <p>Home is where the heart is..</p>
                <h1><i class="fa fa-shopping-cart"></i></h1>

                <section>
                    <div>
                        <img src="attachments\india 1.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="attachments\india 2.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="attachments\india 3.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="attachments\india 4.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
        
                </section>
                <section>
                    <div>
                        <img src="attachments\india 5.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="attachments\india 6.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="attachments\india 7.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="attachments\india 8.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
        
                </section>
                <section>
                    <div>
                        <img src="attachments\india 9.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="attachments\india 10.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="backend\public\img\slide2.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
                    <div>
                        <img src="backend\public\img\ind-chi.jpg">
                        <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                        <h6>RS345</h6>
                        <span></span>
                        <button class="but">Add-cart</button><button class="flt">Order</button>
                    </div>
        
                </section>
            </div>
            
            <div id="News" class="tabcontent">
              <h3>CHINESE</h3>
              <p>Some news this fine day!</p> 
              <section>
                <div>
                    <img src="attachments\india 1.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 2.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 3.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 4.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            <section>
                <div>
                    <img src="attachments\india 5.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 6.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 7.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 8.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            <section>
                <div>
                    <img src="attachments\india 9.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 10.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="backend\public\img\slide2.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="backend\public\img\ind-chi.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            </div>
            
            <div id="Contact" class="tabcontent">
              <h3>ITALIAN</h3>
              <p>Get in touch, or swing by for a cup of coffee.</p>
              <section>
                <div>
                    <img src="attachments\india 1.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 2.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 3.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 4.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            <section>
                <div>
                    <img src="attachments\india 5.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 6.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 7.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 8.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            <section>
                <div>
                    <img src="attachments\india 9.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 10.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="backend\public\img\slide2.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="backend\public\img\ind-chi.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            </div>
            
            <div id="About" class="tabcontent">
              <h3>MEXICAN</h3>
              <p>Who we are and what we do.</p>
              <section>
                <div>
                    <img src="attachments\india 1.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 2.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 3.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 4.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            <section>
                <div>
                    <img src="attachments\india 5.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 6.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 7.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 8.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            <section>
                <div>
                    <img src="attachments\india 9.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO  </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="attachments\india 10.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="backend\public\img\slide2.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO </p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
                <div>
                    <img src="backend\public\img\ind-chi.jpg">
                    <p>bksdghiorbyiooiwt owhtou hfooy eyto nBAFLEJH  IOHOT   OHTO  IY   TOYB JHTO</p>
                    <h6>RS345</h6>
                    <span></span>
                    <button class="but">Add-cart</button><button class="flt">Order</button>
                </div>
    
            </section>
            </div>
            
        </div>
        <div class="select">

        </div>
    </body>
</html>

<script type="text/javascript">
    function openPage(pageName,elmnt,color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;        
    }
            // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();




    var noti = document.querySelector('h1');
    var select = document.querySelector('.select');
    var button = document.getElementsByTagName('button');
    for(but of button)
    {
        but.addEventListener('click', (e)=>{
            var add = Number(noti.getAttribute('data-count')|| 0);
            noti.setAttribute('data-count', add + 1);
            noti.classList.add('zero');


            var parent = e.target.parentNode;
            var clone = parent.cloneNode(true);
            select.appendChild(clone);
            clone.lastElementChild.innerText = "Buy-now";
            if (clone){
                noti.onclick =()=>{
                    select.classList.toggle('display');
                }
            }
            var image = e.target.parentNode.querySelector('img');
            var span = e.target.parentNode.querySelector('span');
            var s_image = image.cloneNode(false);
            span.appendChild(s_image);
            span.classList.add('active');
            setTimeout(()=>{
                span.removeChild(s_image);
                span.classList.remove('active');
            }, 500);
        })
    }
</script>